*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*/*.X/html/
*/*.X/nbproject/Package-*.bash
*/*.X/build/
*/*.X/nbbuild/
*/*.X/dist/
*/*.X/nbdist/
*/*.X/nbactions.xml
*/*.X/nb-configuration.xml
*/*.X/funclist
*/*.X/nbproject/Makefile-*
*/*.X/disassembly/
*.map