*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
MPLAB.X/html/
MPLAB.X/nbproject/private/
MPLAB.X/nbproject/Package-*.bash
MPLAB.X/build/
MPLAB.X/nbbuild/
MPLAB.X/dist/
MPLAB.X/nbdist/
MPLAB.X/nbactions.xml
MPLAB.X/nb-configuration.xml
MPLAB.X/funclist
MPLAB.X/nbproject/Makefile-*
MPLAB.X/disassembly/
*.map